.panel {
    background-color: rgb(30, 30, 30);
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
    display: table;
    float: left;
    width: 210px;
    cursor: pointer;
}

.panel .padding {
    padding: 10px;
}

.panel h3 {
    color: white !important;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    max-width: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.panel .thumb div {
    height: 200px;
    width: 190px;
    background-position: center;
    background-size: cover;
    -webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}