.listen svg {
    color: white;
    margin: auto;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 15px;
    padding: 1px;
    transition: 0.4s background;
}

.listen svg:hover {
    background-color: rgb(221, 221, 221, 0.3);
}

.listen {
    height: calc(100% - 10px);
    background-color: rgba(31, 31, 31, 0.73);
    padding: 10px;
    padding-bottom: 0px;
    backdrop-filter: blur(20px);
    z-index: 2;
    display: grid;
    align-content: center;
    width: calc(100% - 20px);
}

img {
    width: 231px;
    border-radius: 15px;
    float: left;
    margin-right: 10px;
    height: 231px;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
}

.left {
    float: left;
    width: 100%;
    position: relative;
    left: 50%;
    display: grid;
    transform: translate(-50%, 0px);
    align-content: center;
    text-align: center;
}

.left_container {
    position: relative;
    margin: 9px 0;
    overflow: hidden;
    display: flow-root;
}

svg.mini {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    margin-bottom: 12px;
    border-radius: 8px;
}

svg.miniButNot {
    width: 40px;
    height: 40px;
    margin: 0 3px;
    margin-bottom: 4.5px;
    border-radius: 15px;
}

.middle {
    text-align: center;
    margin: auto;
    width: 100%;
    --value: 20;
    margin-top: 70px;
    --max: 100;
    overflow: hidden;
}

p {
    color: white;
    font-family: "Quicksand";
    margin: 0px;
}

.left p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    cursor: pointer;
    display: initial;
}

.divMask {
    -webkit-mask-image: linear-gradient(90deg, black, calc(100% - 10px), transparent);
    mask-image: linear-gradient(90deg, black, calc(100% - 10px), transparent);
}

.left p:hover {
    text-decoration: underline;
}

.left p.nohover {
    cursor: default !important;
}

.left p.nohover:hover {
    text-decoration: none !important;
}

.middle p {
    float: left;
    width: 54px;
}

.right {
    left: 50%;
    transform: translate(-50%, 0px);
    width: 81px;
    position: relative;
    margin-top: 40px;
}

.right svg {
    width: 36px;
    height: 36px;
}

#music_title {
    font-size: 22px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#music_artist {
    color: rgb(165, 165, 165);
}

#pb {
    margin-left: 4px;
    margin-right: 4px;
    width: 74%;
    height: 21px;
}

#pbVol {
    margin: auto;
    border-radius: 15px;
    padding: 1px;
    transition: 0.4s background;
    width: 100px;
    /* height: 6px; */
    float: right;
    margin-top: 7px;
    margin-right: -10px;
}

#topbar {
    position: absolute;
    display: flex;
    top: 40px;
    left: 10px;
}

#topbar svg {
    width: 40px;
    height: 40px;
}

#topbar p {
    font-size: 18px;
    margin-top: 9px;
    margin-left: 10px;
}