p,
h2 {
    font-family: "Quicksand";
    margin: 0px;
    color: white;
}

.home {
    /* margin: 25px; */
    /* margin-left: 50px; */
    padding-top: 50px;
    margin-right: 0px;
    border-radius: 15px;
    padding-left: 20px;
    height: calc(100% - 50px);
}

#main {
    display: grid;
    overflow: auto;
}

.plList {
    border-radius: 15px;
    background-color: rgb(45, 45, 45, 0.6);
    margin: 10px;
    margin-left: 0px;
    /* width: 100%; */
    margin-bottom: 50px;
    display: flow-root;
    padding: 20px;
    padding-bottom: 0px;
    /* padding-right: 0px; */
    /* margin-right: 20px; */
}

.noSong {
    margin-bottom: 20px;
}