p {
    font-family: "Quicksand";
    margin: 0px;
    color: white;
}

.library {
    width: 100%;
    border-radius: 15px;
    height: 100%;
}

#main {
    display: block;
    height: 100%;
}

#menu {
    width: 220px;
    background-color: rgba(65, 65, 65, 0.6);
    border-radius: 15px;
    padding: 10px;
    margin-left: 15px;
    float: left;
    height: calc(100% - 78px - 15px);
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

#menu p,
.sub .set.topbar p {
    border-radius: 15px;
    font-size: 17px;
    color: white;
    padding: 8px;
    margin: 0px;
    margin-bottom: 4px;
    color: rgb(215, 215, 215);
    transition: background 0.4s, color 0.4s;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
}

#menu .selected,
.sub .set.topbar .selected {
    background-color: rgb(110, 110, 110, 0.6);
    color: white;
}

#menu p:hover,
.sub .set.topbar p:hover {
    background-color: rgba(99, 99, 99, 0.6);
}

#view {
    /* margin-left: 25px; */
    margin-top: 25px;
    border-radius: 15px;
    position: relative;
    height: calc(100% - 38px);
}

.panel {
    position: absolute;
    z-index: 0;
    width: 100%;
    opacity: 0%;
    transition: opacity 0.4s;
    height: 100%;
}

.panel.havePanelInfo .sub {
    margin-top: 5px;
    height: calc(100% - 7px);
    position: relative;
}

#view .selected {
    z-index: 1;
    opacity: 1;
}

.panelInfo {
    display: flow-root;
    height: 46px;
    margin-top: -5px;
}

.panelInfo>p,
.panel>p {
    font-size: 25px;
    /* color: rgb(0, 204, 255); */
    /* font-weight: bold; */
    text-overflow: ellipsis;
    overflow: hidden;
}

.panelInfo>p {
    padding-top: 5px;
    float: left;
    /* display: none; */
    margin-left: 15px;
}

.panelInfo>svg {
    overflow: hidden;
    float: right;
    color: white;
    width: 40px;
    margin-right: 15px;
    margin-top: 5px;
    height: 40px;
    position: relative;
}

#plState {
    margin-right: 5px;
}

.sub {
    /* background-color: rgb(59, 59, 59, 0.6); */
    position: relative;
    border-radius: 15px;
    padding-bottom: 0px;
    /* margin-right: 25px; */
    margin-top: 15px;
    padding-top: 10px;
    height: calc(100% - 7px);
}

.sub .set {
    display: flex;
    /* margin-bottom: 7px; */
    padding-bottom: 7px;
    /* border-bottom: rgba(99, 99, 99, 0.6) solid 1px; */
    min-height: 33px;
}

.sub .last {
    border-bottom: inherit;
}

.library .slider[max="1"] {
    width: 35px !important;
}

.library .slider {
    -webkit-appearance: none;
    width: 150px;
    height: 25px;
    padding: 0 5px;
    border-radius: 12.5px;
    background: rgb(0, 162, 255);
    outline: none;
    float: right;
    margin: auto 0;
    transition: 0.4s;
}

.library .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.library .slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    border: none;
    stroke: transparent;
}

.library .select-container {
    float: right;
    position: relative;
    background-color: rgb(80, 80, 80, 0.6);
    border-radius: 15px;
    overflow: hidden;
}

.library select {
    height: auto;
    border: 0;
    margin: 0;
    margin-right: 5px;
    padding: 5px 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    -webkit-appearance: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z' fill='white'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    font-family: "Quicksand";
    font-size: 18px;
    width: 150px;
}

.library select option {
    background-color: rgb(56, 56, 56);
    color: white;
}

div[is="text-box"] {
    width: 250px;
}

.sub p,
div[is="text-box"] {
    float: left;
    margin: auto;
    margin-left: 0px;
}

.havesub {
    padding-top: 1px;
    padding-left: 15px !important;
    display: block !important;
}

.havesub p {
    float: none !important;
}

.setsub {
    background-color: rgb(77, 77, 77, 0.6);
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 15px;
}

.setsub>p.title {
    font-size: 20px;
    color: rgb(0, 204, 255);
    font-weight: bold;
}

.wintitle {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

.account {
    display: flow-root !important;
}

.big {
    font-size: 22px;
    padding-left: 10px;
}

button:focus {
    background: #67b7fd radial-gradient(circle, transparent 1%, #67b7fd 1%) center/15000%;
    color: black;
    font-weight: normal;
}

button:hover {
    background: #67b7fd radial-gradient(circle, transparent 1%, #67b7fd 1%) center/15000%;
    color: black;
    font-weight: normal;
}

button:active {
    background-color: white;
    color: black;
    background-size: 100%;
    transition: background 0s;
    font-weight: normal;
}

button {
    background-position: center;
    transition: background 0.6s;
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color: rgb(0 151 255);
    border: none;
    outline: none;
    font-family: "Quicksand";
    margin-left: 5px;
    margin-bottom: 5px;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.sinfo {
    color: rgb(165, 165, 165);
}

.hidden {
    visibility: collapse;
    position: absolute;
}

.sub .set.topbar {
    display: block;
    margin-left: 10px;
}

.sub .set#mylib_list {
    display: block;
    overflow: auto;
    overflow-x: hidden;
    height: calc(100% - 60px);
    width: calc(100%);
    padding-bottom: 0px;
    /* margin-bottom: 0px; */
}

.sub .set#playlist_songs {
    display: block;
    overflow: auto;
    height: calc(100% - 6px - 20px);
}

.sub .set#mylib_list.obj {
    padding-left: 5px;
    padding-top: 5px;
}

#mylib_topbar>p {
    margin-right: 10px;
}

#pl_create {
    position: absolute;
    bottom: 30px;
    right: 20px;
}

svg {
    transition: background-color 0.4s;
    border-radius: 10px;
    cursor: pointer;
}

svg:hover {
    background-color: rgba(141, 141, 141, 0.445);
}

#menu p.minimized {
    height: 0px;
    visibility: hidden;
    margin: 0px;
    padding: 0px;
}

#libBack {
    float: left;
    margin-left: 15px;
    margin-top: 5px;
    margin-right: 0px;
    width: 35px;
    height: 35px;
    /* color: rgb(0, 204, 255); */
}

#libBack2 {
    float: left;
    margin-left: 14px;
    margin-top: -1px;
    margin-right: 15px;
    width: 35px;
    height: 35px;
    color: white;
}