<style type="text/css" id="cssImport">
    @import url("/ui/components/songGrid/songGrid.css");
</style>
<div class="grid" id="main">
    <div class="panel panel_ep">
        <div class="padding" style="text-align: left; padding: 8px;">
            <div class="songImg" id="img">
                <div id="cache">
                    <svg viewBox="0 0 24 24" id="svg">
                        <path
                            d="M10,16.5V7.5L16,12M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
                            fill="red"></path>
                    </svg>
                </div>
            </div>
            <div class="epName">
                <p class="epN" style="color: white;" id="title"><b>{title}</b></p>
                <p style="color: gray" id="artist">{artist}</p>
            </div>
            <div class="stats">
                <p id="time">{time}</p>
                <svg viewBox="0 0 24 24" id="context">
                    <path
                        d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z"
                        fill="white"></path>
                </svg>
            </div>
        </div>
    </div>
</div>