.panel {
    background-color: rgb(30, 30, 30);
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
    display: table;
    float: left;
    width: 210px;
    cursor: pointer;
    font-family: "Quicksand";
}

@font-face {
    font-family: "Quicksand";
    src: url("/resources/quicksand.ttf");
}

.panel_ep {
    background-color: rgb(39, 39, 39);
    width: calc(100% - 10px);
    margin: 5px;
    cursor: auto;
}

.panel_ep:hover {
    box-shadow: 0px 0px 0px black;
}

.panel_ep svg {
    color: red;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    opacity: 0;
    cursor: pointer;
    float: left;
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
}

.panel_ep .songImg {
    width: 48px;
    height: 48px;
    margin-top: calc((64.5px - 16px - 48px)/2);
    margin-left: 5px;
    float: left;
    background-image: url("/resources/icon.ico");
    background-size: 48px;
    border-radius: 5px;
}

.panel_ep .epName {
    margin-left: 13px;
    float: left;
}

.panel_ep .pB{
    height: 1px;
    width: 100%;
    float: left;
    margin-top: 5px;
}

.panel_ep .progressBar{
    background-color: red;
    width: 50%;
    float: left;
    height: 100%;
}

p {
    margin: 0px;
    margin-bottom: 5px;
}

#cache {
    float: left;
    left: 50%;
    position: relative;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 3px black;
    transition: 0.3s;
    border-radius: 50%;
    opacity: 0;
    background-color: rgb(0,0,0,0.3);
}