<style type="text/css" id="cssImport">
    @import url("/ui/components/songGrid/songGrid_mobile.css");
</style>
<div class="grid" id="main">
    <div class="panel panel_ep">
        <div class="songImg" id="img">
            <div id="cache" style="opacity: 0;">
                <svg viewBox="0 0 24 24" id="svg" style="opacity: 0;">
                    <path
                        d="M10,16.5V7.5L16,12M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
                        fill="#00ccff"></path>
                </svg>
            </div>
        </div>
        <div class="epName">
            <div class="divMask">
                <div id="platform"></div>
                <p class="epN" style="color: white;" id="title"><b></b></p>
            </div>
            <div class="divMask">
                <p style="color: gray" id="artist"></p>
            </div>
        </div>
        <div class="stats">
            <p id="time"></p>
            <svg viewBox="0 0 24 24" id="context">
                <path
                    d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z"
                    fill="white"></path>
            </svg>
        </div>
    </div>
</div>