.panel {
    background-color: rgb(30, 30, 30);
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
    display: table;
    float: left;
    height: 60px;
    cursor: pointer;
    font-family: "Quicksand";
    position: relative;
}

@font-face {
    font-family: "Quicksand";
    src: url("/resources/quicksand.ttf");
}

.panel_ep {
    background-color: rgb(39, 39, 39);
    width: calc(100% - 10px);
    margin: 5px;
    cursor: auto;
}

.panel_ep:hover {
    box-shadow: 0px 0px 0px black;
}

.panel_ep #svg {
    color: red;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    opacity: 0;
    cursor: pointer;
    float: left;
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
}

.panel_ep .songImg {
    width: 48px;
    height: 48px;
    top: 50%;
    left: 8px;
    transform: translate(0, -50%);
    float: left;
    /*background-image: url("/resources/icon.ico");*/
    background-size: 48px;
    border-radius: 5px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#platform {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-right: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.panel_ep .epName {
    top: 50%;
    left: 70px;
    transform: translate(0, -50%);
    position: absolute;
    width: 65%;
}

.panel_ep .epName p {
    overflow: hidden;
    white-space: nowrap;
    /* text-overflow: ellipsis; */
    height: 20px;
    cursor: pointer;
}

.divMask {
    -webkit-mask-image: linear-gradient(90deg, black, calc(100% - 10px), transparent);
    mask-image: linear-gradient(90deg, black, calc(100% - 10px), transparent);
    display: -webkit-box;
}

.panel_ep .epName p:hover {
    text-decoration: underline;
}

.panel_ep .epName p.nohover:hover {
    text-decoration: none !important;
}

.panel_ep .epName p.nohover {
    cursor: default !important;
}

.panel_ep .stats {
    position: absolute;
    display: flex;
    top: 44%;
    right: 30px;
    transform: translate(0, -50%);
}

.panel_ep #context {
    width: 30px;
    height: 30px;
    padding: 2px;
    cursor: pointer;
    float: left;
    position: relative;
    margin-top: 6px;
    border-radius: 10px;
    transition: background-color 0.4s;
}

.panel_ep #context:hover {
    background-color: rgba(139, 139, 139, 0.4);
}

.panel_ep #time {
    float: left;
    color: white;
    height: 20px;
    margin-right: 30px;
    margin-bottom: 0px;
    margin-top: 13px;
}

.panel_ep .progressBar {
    background-color: red;
    width: 50%;
    float: left;
    height: 100%;
}

p {
    margin: 0px;
    margin-bottom: 5px;
}

#cache {
    float: left;
    left: 50%;
    position: relative;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 8px 1px black;
    transition: 0.3s;
    border-radius: 50%;
    opacity: 0;
    background-color: rgb(0, 0, 0, 0.4);
}