<style type="text/css" id="cssImport">
    @import url("/ui/components/albumGrid/albumGrid_mobile.css");
</style>
<div class="grid" id="main">
    <div class="padding">
        <div class="membre" style="overflow: auto; display: block">
            <h3 id="title"></h3>
            <div class="thumb">
                <div id="img" style="transform: scale(1);">
                </div>
                <div id="cache" style="opacity: 0;">
                    <svg viewBox="0 0 24 24" id="svg" style="opacity: 1;">
                        <path
                            d="M10,16.5V7.5L16,12M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
                            fill="#00ccff"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>