<style type="text/css"
    class="cssImport">
    @import url("/ui/components/infoPanel/infoPanel.css");
</style>
<div class="panelInfoBG"
    style="opacity: 0%;">
    <div class="panelInfo">
        <svg height="100"
            width="100"
            class="svg rotate">
            <circle cx="50"
                cy="50"
                r="40"
                stroke="#428bca"
                stroke-width="6"
                fill="#0000"
                stroke-linecap="round" />
        </svg>
        <p class="text">Text here</p>
        <p class="subtext">Subtext here</p>
        <div class="btnList">
        </div>
        <div class="progressBar hidden"></div>
    </div>
</div>