.listen svg {
    color: white;
    margin: auto;
    cursor: pointer;
}

.listen svg:hover {
    background-color: rgb(221, 221, 221, 0.3);
}

.listen svg {
    width: 48px;
    height: 48px;
    border-radius: 15px;
    padding: 1px;
    transition: 0.4s background;
}

.listen {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgb(63, 63, 63, 0.84);
    padding: 10px;
    padding-bottom: 0px;
    backdrop-filter: blur(10px);
}

img {
    width: 70px;
    border-radius: 15px;
    float: left;
    margin-right: 10px;
}

.left {
    float: left;
    display: flex;
}

svg.mini {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    margin-bottom: 12px;
    border-radius: 8px;
}

svg.miniButNot {
    width: 40px;
    height: 40px;
    margin: 0 3px;
    margin-bottom: 4.5px;
    border-radius: 15px;
}

.middle {
    text-align: center;
    margin: auto;
    width: 40%;
    --value: 20;
    --max: 100;
}

p {
    color: white;
    font-family: "Quicksand";
    margin: 0px;
}

.middle p {
    float: left;
}

.right {
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.right svg {
    width: 36px;
    height: 36px;
}

#pbInfo {
    margin-left: 10px;
    margin-right: 10px;
    width: 74%;
    height: 8px;
}

#slider {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
    width: 100%;
    -webkit-appearance: none; 
    appearance: none;
    background-color: #727272;
    border-radius: 50px;
    height: 8px;
    --min: 0;
    outline: none;
    margin: 0;
    margin-top: 7.4px;
    visibility: hidden;
}

#music_title {
    font-size: 22px;
}

#music_artist {
    color: rgb(165, 165, 165);
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%; 
  background: #1095d3;
  cursor: pointer;
  margin-top: -4.7px;
}

#slider::-webkit-slider-runnable-track {
    background: linear-gradient(#10a2e6,#10a2e6) 0/var(--sx) 100% no-repeat, #727272;
    border-radius: 15px;
    height: 8px;
}

#progressBar {
    height: 8px;
    border-radius: 15px;
    bottom: 16px;
    background-color: #727272;
}

#progressBar>.state {
    background-color: white;
    width: calc(var(--value) / var(--max) * 100%);
    border-radius: 15px;
    height: 8px;
}