.listen svg {
    color: white;
    margin: auto;
    cursor: pointer;
    width: 35px;
    height: 46px;
    border-radius: 15px;
    padding: 1px;
    transition: 0.4s background;
}

.listen svg:hover {
    background-color: rgb(221, 221, 221, 0.3);
}

.listen {
    height: 50px;
    background-color: rgba(31, 31, 31, 0.73);
    padding: 10px;
    padding-bottom: 0px;
    backdrop-filter: blur(10px);
    z-index: 2;
    border-radius: 15px;
}

img {
    width: 40px;
    border-radius: 15px;
    float: left;
    margin-right: 10px;
    height: 40px;
    object-fit: cover;
}

.left {
    float: left;
    width: 57%;
    position: relative;
}

.left_container {
    position: relative;
    margin: 2px 0;
    display: flow-root;
}

svg.mini {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    margin-bottom: 12px;
    border-radius: 8px;
}

svg.miniButNot {
    width: 30px;
    height: 40px;
    margin: 0 3px;
    margin-bottom: 3px;
    border-radius: 15px;
}

.middle {
    text-align: end;
    margin: auto;
    width: 100%;
    --value: 20;
    --max: 100;
}

p {
    color: white;
    font-family: "Quicksand";
    margin: 0px;
}

.left p {
    white-space: nowrap;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    width: 100%;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
    display: initial;
}

.divMask {
    -webkit-mask-image: linear-gradient(90deg, black, calc(100% - 10px), transparent);
    mask-image: linear-gradient(90deg, black, calc(100% - 10px), transparent);
}

.left p:hover {
    text-decoration: underline;
}

.left p.nohover {
    cursor: default !important;
}

.left p.nohover:hover {
    text-decoration: none !important;
}

.middle p {
    float: left;
    width: 54px;
}

.right {
    position: absolute;
    bottom: 5px;
    right: 15px;
    display: none;
}

.right svg {
    width: 36px;
    height: 36px;
}

#music_artist {
    color: rgb(165, 165, 165);
}

#pb {
    margin-left: 4px;
    margin-right: 4px;
    width: 74%;
    height: 21px;
}

#pbVol {
    margin: auto;
    border-radius: 15px;
    padding: 1px;
    transition: 0.4s background;
    width: 100px;
    /* height: 6px; */
    float: right;
    margin-top: 7px;
    margin-right: -10px;
}

.hidden {
    display: none !important;
}